* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.user-interact-btn {
  position: relative;
  background-color: transparent;
  color: red;
  border: none;
  width: 10rem;
  height: 2rem;
  overflow: hidden;
  cursor: pointer;
}

.user-interact-btn::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: -10rem;
  width: 10rem;
  height: 1px;
  background-color: white;
  transition: 0.5s left ease;
}

.user-interact-btn:hover::after {
  left: 0;
}

.user-interact-btn-disable {
  display: none;
}

.user-interact-input {
  text-align: center;
  color: red;
  position: relative;
  background-color: transparent;
  width: 10rem;
  height: 2rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid white;
}

label {
  color: white;
}
