@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50vh);
  }
}

@keyframes slide {
  from {
    transform: translateX(0vw);
  }
  to {
    transform: translateX(100vw);
  }
}

.third-page-active {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  background-color: rgb(43, 43, 43);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.third-page-disabled {
  display: none;
}

.third-page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;

  width: 20rem;
  text-align: center;
}

.summon-container-one,
.summon-container-two,
.summon-container-three {
  display: flex;
  position: absolute;
  width: 100vw;
}

.summon-container-one {
  animation: bounce 1s alternate infinite;
}

.summon-container-two {
  animation: bounce 0.5s alternate infinite;
}

.summon-container-three {
  animation: bounce 1.5s alternate infinite;
}

.summon-box {
  height: 5rem;
  width: 2rem;
  animation: slide 10s alternate infinite;
}

.summon {
  position: absolute;
  color: red;
}

@media screen and (min-width: 700px) {
  .third-page-content {
    width: 100%;
  }
}
