@font-face {
  font-family: 'Montserrat-b';
  src: url('../Montserrat-Woff/Montserrat-Bold.woff2') format('woff2'),
    url('../Montserrat-Woff/Montserrat-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat-sb';
  src: url('Montserrat-Woff/Montserrat-SemiBold.woff2') format('woff2'),
    url('Montserrat-Woff/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat-m';
  src: url('Montserrat-Woff/Montserrat-Medium.woff2') format('woff2'),
    url('Montserrat-Woff/Montserrat-Medium.woff') format('woff');
  font-weight: medium;
}

@font-face {
  font-family: 'Montserrat-r';
  src: url('Montserrat-Woff/Montserrat-Regular.woff2') format('woff2'),
    url('Montserrat-Woff/Montserrat-Regular.woff') format('woff');
  font-weight: normal;
}

body {
  font-family: 'Montserrat-m';
}

h2 {
  color: white;
  font-family: 'montserrat-b';
}
